html {
  font-size: 1em;
}

body {
  text-align: center;
}

a:link {
  color: blue;
}

a:visited {
  color: purple;
}

a:hover {
  color: red;
}

p {
  font-size: 1.5rem;
  color: midnightblue;
}

header {
  background-color: orange;
  color: white;
}

header p {
  background-color: snow;
  border-bottom: 1px solid gray;
}

div {
  background-color: lightblue;
}

#education {
  border: 3px solid red;
}

#skills_list {
  border: 3px solid green;
}

.top-skill {
  font-weight: bold;
  background-color: teal;
}