body {
  text-align: center;
}

p {
  color: midnightblue;
}

header {
  background-color: orange;
  color: white;
}

div {
  background-color: lightblue;
}

#education {
  border: 3px solid red;
}

#skills_list {
  border: 3px solid green;
}

.top-skill {
  font-weight: bold;
  background-color: teal;
}