/* Web Fonts ----------------------- */
@font-face {
  font-family: "Abolition Regular";
  src: url('../fonts/abolition-regular-webfont.woff') format('woff');
}

/* Base Styles --------------------- */
* {
  box-sizing: border-box;
}

html {
  font-size: 1.25em; /* 20px on most screens */
}

body {
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  margin: 1rem;
}

h1, h2 {
  font-family: "Abolition Regular", sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 4rem;
  text-shadow: 10px 20px 10px rbga(0,10,30,0.5);
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.25rem;
}

img {
  width: 100%; /* responsive images */
  border-radius: 2px;
}


/* Main Styles --------------------- */

header {
  padding: 10vh 1rem;
  background: url(../img/mountains.jpg) center / cover no-repeat #f3753b;
  background-blend-mode: multiply;
  color: white;
}
header, footer {
  text-align: center;
}

main {
  hyphens: auto;
}

#wildlife {
  padding: 20% 15%;
  border-top: 12px solid #f3753b;
  background: url(../img/bear.jpg) center / cover #454959;
  color: white;
  box-shadow: 0 0 10px 2px rgba(0, 10, 30, 0.8);
  border-radius: 12px 12px 0 0;
}

/* Media Queries ------------------- */

