* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

section {
    min-height: 100vh;
    padding: 1rem;
    border-bottom: 2px dotted #666;
    background-color: azure;
}

article, aside, footer {
    margin: 8px;
}

aside img, #bio {
    width: 100%;
    max-width: 600px;
}

header {
    background-color: lightblue;
    color: ghostwhite;
    padding: 15px 20px 10px 15px;
    border-width: 12px;
    border-color: black;
    border-style: solid;
}

footer {
    width: 200px;
    padding: 4px;
    border: 2px solid gray;
    margin: 30px auto 15px;
    color: #294969;
    font-size: 0.8rem;
    text-align: center;
}

#bio {
    background-color: mistyrose;
    padding: 2rem;
}